button {
    height: 50px;
    width: 100px;
}

.countryLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: mediumpurple 5px solid;

}