button {
    height: 50px;
    width: 100px;
}

.countryLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: lightgrey;


}


ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
}